bokeh>=0.13.0
dask>=0.18.2
distributed>=1.22.0
featuretools>=0.2.1
ipython>=6.4.0
lightgbm>=2.1.2
matplotlib>=2.2.2
psutil>=5.4.5
pyarrow>=0.10.0
scikit-learn>=0.19.1
seaborn>=0.8.1
tsfresh>=0.11.0
umap-learn>=0.3.0